@import "../fonts/glcg/stylesheet.css";
* {
  padding: 0;
  margin: 0;
  /* Vars */
  --text-main: #f1f1f1;
  --text-regular: #B9B3C1;
  --text-placeholder: #f1f1f1;
  --danger: #dc758f;
  --brand: rgb(255 189 37 / 86%);
  --success: #3cc199;
  --bg-color: #fefefe;
  --bg-second: #322E3C;
  font-family: Montserrat, Arial, sans-serif;
}

.header-pm {
	background: #322E3C; margin-top: -30px; padding:15px;
}

*:focus {
  outline: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--bg-color);
  font-family: Montserrat, Arial, sans-serif;
  color: var(--text-regular);
  font-size: 16px;
}

a,
a:visited {
  color: #fff;
  text-decoration: none;
}

.bg {
  width: 100%;
  height: 587px;
  background: url("../img/bg.png");
  position: absolute;
}

.container {
  max-width: 1200px !important;
  padding: 0 !important;
}

header {
  display: flex;
  top: 30px;
  position: relative;
}

.btn {
  padding: 18px 30px;
  border-radius: 20px;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.btn-brand {
  background: rgb(255 189 37 / 86%);
  color: #fefefe;
}

.btn-brand span {
  font-size: 24px;
}

.btn-brand:hover {
  background: rgb(255 189 37 / 86%);
}

.links {
  display: flex;
  list-style-type: none;
  justify-content: center;
}

.link a {
  color: #f1f1f1;
  text-decoration: none;
  margin-right: 30px;
  font-weight: 450;
  font-size: 17px;
}

header {
    box-shadow: inset 5 1px 0 rgba(255, 255, 255, 0.1);
}

.link:hover a {
  color: #f1f1f1;
  font-size: 17px;
}

.link.active a {
  color: #f1f1f1;
  font-size: 17px;
}

.logo {
  position: relative;
  left: -17px;
  margin-left: -10px;
}

.content {
  margin-top: 46px;
}

.title {
  font-weight: bold;
  font-size: 36px;
  color: var(--text-main);
  margin-left: 20px;
  padding-top: 35px;
}

.subtitle {
  font-weight: 500;
  font-size: 18px;
  margin-top: 5px;
  color: #fefefe;
  margin-left: 20px;
}
.pd-0-0-25-25{
	padding: 0px 0px 25px 25px!important;   
	display: flex;
    align-items: center;
}

.tabs {
  margin-top: 37px;
  display: flex;
  height: 38px;
  width: fit-content;
}
.tab {
    font-weight: 500;
    font-size: 18px;
    color: var(--text-placeholder);
    height: 38px;
    margin-right: 35px;
    cursor: pointer;
}

.tab:hover {
  color: #fefefe;
}
.tab.active {
    color: var(--text-main);
    border-bottom: 2px solid var(--brand);
}

.tab:nth-last-child(1) {
  margin-right: 0;
}

.card {
  background: #322E3C;
  border-radius: 15px;
  border-color: #262b2f;
  box-shadow: 0 5px rgba(0,0,0,5%);
}

.sell {
  padding: 20px 40px;
  display: flex;
  align-items: center;
}

.sell-title {
  font-weight: 600;
  font-size: 24px;
  color: var(--text-main);
}

.sell-subtitle {
  font-size: 16px;
  line-height: 27px;
  color: var(--text-regular);
  margin-top: 8px;
}

.time {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timer {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.timer b {
  font-size: 16px;
  color: var(--brand);
  position: relative;
  margin: 0px 3px;
  top: -12px;
}

.number {
  background: rgba(255, 190, 134, 0.2);
  border-radius: 7px;
  height: 46px;
  width: 65px;
  color: var(--brand);
  text-shadow: 0px 0px 10px var(--brand) !important;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.time p {
  color: #75717b;
  font-size: 14px;
  margin-top: 5px;
}

.good-card {
  background: var(--bg-second);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 34px 20px 23px 20px;
  margin-bottom: 20px;
  transition: 0.3s;
  box-shadow: 0 5px rgba(0,0,0,5%);
}

.good-card:hover {
  transform: scale(1.1);
}

.good-name {
  font-size: 15px;
  font-weight: 550;
  margin-top: 38px;
}

.good-price {
  color: var(--brand);
  font-weight: 600;
  font-size: 16px;
  line-height: 27px;
  margin-top: 3px;
}

.monitoring {
  padding: 40px 30px;
}

.buyers {
  padding: 40px 30px 10px 30px;
  position: relative;
}

.monitoring h2 {
  font-weight: bold;
  font-size: 22px;
  line-height: 35px;
  color: var(--text-main);
}

.card-title {
  font-weight: 500;
  font-size: 18px;
  color: var(--text-main);
}

.card-title span {
  color: var(--brand);
  font-size: 18px;
  margin-right: 15px;
  position: relative;
  top: 1px;
}

.online {
  background: rgb(255, 190, 134, 0.2);
  box-shadow: 0px 0px 10px rgba(255, 190, 134, 0.3);
  border-radius: 50px;
  height: 15px;
  width: 100%;
}

.online-path {
  background: var(--brand) !important;
  border-radius: 50px;
  height: 15px;
}

.shop {
  padding-right: 60px !important;
}

.add-server {
  padding-top: 20px;
}

.add-server .placeholder {
  font-weight: 500;
  font-size: 14px;
  color: var(--text-placeholder);
}

.btn-copy {
  background: rgb(255 189 37 / 86%);
  border-radius: 15px;
  width: 61px;
  height: 61px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  flex: none;
}

.buyer {
  display: flex;
  padding-bottom: 25px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  margin-bottom: 25px;
}

.buyer img {
  width: 50px;
  height: 50px;
  margin-right: 15px;
  border-radius: 7px;
}

.buyer h4 {
  font-weight: 600;
  font-size: 16px;
  color: var(--text-main);
  margin-bottom: 10px;
}

.badge-success {
  background: rgba(60, 193, 153, 0.2);
  border-radius: 4px;
  font-weight: 600;
  font-size: 14px;
  color: var(--success);
  padding: 7px 10px;
}

.scroll-mask {
  background: linear-gradient(180deg, rgba(51, 46, 60, 0.65) 0%, #fff 100%);
  
  border-color: #262b2f;
  border-radius: 0px 0px 15px 15px;
  width: 100%;
  height: 135px;
  position: absolute;
  top: -px;
  left: 0px;
  bottom: 0;
  z-index: 100;
}

.review {
  padding: 40px 25px 50px 25px;
}

.review img {
  filter: drop-shadow(0px 0px 20px rgba(255, 190, 134, 0.15));
  border-radius: 50%;
  width: 40px;
  margin-right: 20px;
}

.review h4 {
  font-size: 16px;
  color: var(--text-main);
  line-height: 27px;
  margin-bottom: 0px;
  font-weight: 500;
}

.review span {
  font-size: 14px;
}

.review p {
  font-size: 16px;
  line-height: 27px;
}

footer {
  background: #25344E;
  margin-top: 110px;
  padding: 46px 0;
  line-height: 25px;
}

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #272838, 0%;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #35374a, 0%;
  border-radius: 7px;
}

.modal-backdrop {
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-container {
  min-width: 1000px;
  padding: 30px 25px;
}

.modal {
  width: 100%;
  z-index: 11000;
  max-width: 1000px;
  background: #2D2937;
  border-radius: 15px;
  padding: 50px 40px 70px 40px;
}

.modal .card-header {
  display: flex;
  align-items: center;
}

.modal .card-header img {
  width: 50px;
  margin-right: 25px;
}

#title {
  font-weight: 600;
  font-size: 18px;
  color: var(--text-main);
  margin-bottom: 8px;
}

#price {
  font-weight: 500;
  font-size: 16px;
  color: var(--brand);
}

.input-group label {
  font-size: 14px;
  color: var(--text-placeholder);
  margin-bottom: 5px;
  display: inline-block;
}

.input {
  background: #322E3C;
  border-color: #322E3C;
  border-radius: 7px;
  width: 100%;
  border: none;
  color: var(--text-main);
}

.input::placeholder {
  color: var(--text-placeholder);
}

.input {
  height: 50px;
  padding: 11px 10px;
  font-size: 16px;
}

.footer-text{
	font-weight: 300; text-align:center;color:#fefefe;
}
.footer-text-mojang{
  font-size: 12px;
	font-weight: 300; text-align:center;color:#fefefe;
}h1,
h2,
h3,
h4,
h5,
h6 {
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
}

a,
a:active,
a:focus {
  color: #333;
  text-decoration: none;
  transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
}
section {
  padding: 60px 0;
}
.footer {
  background-color: #6200ff78;
  background: #322E3C;
  padding-top: 40px;
  padding-bottom: 10px;
  margin-top: 20px;
}
.single_footer {
}
@media only screen and (max-width: 768px) {
  .single_footer {
    margin-bottom: 30px;
  }
}
.single_footer h4 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 25px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
}
.single_footer h4::after {
  content: "";
  display: block;
  height: 2px;
  width: 40px;
  background: #fff;
  margin-top: 20px;
}
.single_footer p {
  color: #fff;
}
.single_footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.single_footer ul li {
}
.single_footer ul li a {
  color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  line-height: 36px;
  font-size: 15px;
  text-transform: capitalize;
}
.single_footer ul li a:hover {
  color: #ff3666;
}

.single_footer_address {
}
.single_footer_address ul {
}
.single_footer_address ul li {
  color: #fff;
}
.single_footer_address ul li span {
  font-weight: 400;
  color: #fff;
  line-height: 28px;
}
.contact_social ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

/*START NEWSLETTER CSS*/
.subscribe {
  display: block;
  position: relative;
  margin-top: 15px;
  width: 100%;
}
.subscribe__input {
  background-color: #fff;
  border: medium none;
  border-radius: 5px;
  color: #333;
  display: block;
  font-size: 15px;
  font-weight: 500;
  height: 60px;
  letter-spacing: 0.4px;
  margin: 0;
  padding: 0 150px 0 20px;
  text-align: center;
  text-transform: capitalize;
  width: 100%;
}
@media only screen and (max-width: 768px) {
  .subscribe__input {
    padding: 0 50px 0 20px;
  }
}

.subscribe__btn {
  background-color: transparent;
  border-radius: 0 25px 25px 0;
  color: #01c7e9;
  cursor: pointer;
  display: block;
  font-size: 20px;
  height: 60px;
  position: absolute;
  right: 0;
  top: 0;
  width: 60px;
}
.subscribe__btn i {
  transition: all 0.3s ease 0s;
}
@media only screen and (max-width: 768px) {
  .subscribe__btn {
    right: 0px;
  }
}

.subscribe__btn:hover i {
  color: #ff3666;
}
button {
  padding: 0;
  border: none;
  background-color: transparent;
  -webkit-border-radius: 0;
  border-radius: 0;
}
/*END NEWSLETTER CSS*/

/*START SOCIAL PROFILE CSS*/
.social_profile {
  margin-top: 40px;
}
.social_profile ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.social_profile ul li {
  float: left;
}
.social_profile ul li a {
  text-align: center;
  border: 0px;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
  margin: 0px 5px;
  font-size: 18px;
  color: #fff;
  border-radius: 30px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  display: block;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
@media only screen and (max-width: 768px) {
  .social_profile ul li a {
    margin-right: 10px;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 480px) {
  .social_profile ul li a {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
}
.social_profile ul li a:hover {
  background: #ff3666;
  border: 1px solid #ff3666;
  color: #fff;
  border: 0px;
}
.copyright {
  margin-top: 30px;
  padding-top: 40px;
  color: #fff;
  font-size: 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  text-align: center;
}
.copyright a {
  color: #01c7e9;
  transition: all 0.2s ease 0s;
}
.copyright a:hover {
  color: #ff3666;
}

.input-prepend {
  display: flex;
}

.input-prepend .input {
  border-radius: 0 7px 7px 0;
}

#desc{
	background-color: #322E3C;
	padding: 10px;
	border-radius: 10px;
}

.input-prepend span {
  background: #322E3C;
  border-color: #262b2f;
  height: 50px;
  width: 60px;
  font-size: 20px;
  border-radius: 7px 0 0 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-regular);
}

.border-right {
  border-right: 1px solid #f3eeff;
}

.lgpr-20px {
  padding-right: 20px !important;
}

.lgpl-20px {
  padding-left: 20px !important;
}

.modal .subtitle {
  margin-top: 0;
  display: flex;
  align-items: center;
  color: var(--text-main);
}

.modal-scroll-mask {
  background: linear-gradient(180deg, rgba(46, 41, 54, 0) 0%, #fefefe 100%);
  width: 100%;
  height: 76px;
  position: absolute;
  top: -px;
  left: 0px;
  bottom: 0;
  z-index: 10000;
}

.mobile-burger {
  background: rgb(255 189 37 / 86%);
  height: 60px;
  width: 60px;
  border-radius: 10px;
  border: none;
  margin-right: 15px;
  cursor: pointer;
  display: none;
}

#mobile-menu {
  background: var(--bg-second);
  padding: 30px;
  position: absolute;
  z-index: 1000;
  margin-left: -25px;
  top: -320px;
  transition: ease-in 0.2s;
}

#mobile-menu.active {
  top: -10px;
}

.mobile-links {
  list-style-type: none;
}

.mobile-links li {
  text-align: center;
}

.mobile-links li:not(:nth-last-child(1)) {
  margin-bottom: 30px;
}

.mobile-links li a {
  color: var(--text-regular);
  font-size: 18px;
  text-decoration: none;
}

.mobile-links li a:hover {
  color: var(--text-main);
}

.mobile-links a.active {
  color: var(--text-main);
}

#close-mobile {
  position: absolute;
  right: 7px;
  top: 20px;
}

.btn-block {
  width: 100%;
  justify-content: center;
}

